

/* General styling for the review page */
.main{
  background-image: url('/src/bk.gif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height:100%;
  padding-inline: 2rem;
  display: flex;
  justify-content: space-between;
}
.review-page {
  width: 60%;
  height: 100vh;
  font-family: Arial, sans-serif;
  border: 2px solid #ddd; 
  padding-bottom:3rem;
  padding-inline:2rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
 
}

.review-page h1 {
  color: black;
  font-size:2rem; 
  text-shadow: 4px 1px 2px white;
}

.review-page img {
  display: block;
  margin: 20px auto;
  width: 150px;
  height: auto;
   box-shadow:6px 7px 12px rgba(0, 0, 0, 1); 
}

.review-page p {
  /* margin: 10px 0; */
  line-height: 1.6;
  font-weight:6;
  color: #050300;
   /* border: 2px solid black; */

}

.review-page strong {
  color: #4e2601;
  font-weight: bold;
  font-size: 1.3rem;
}

/* Styling for the review form */
.review-form {
  background-color: transparent; 
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  font-family: 'Arial', sans-serif;
  display:flex;
  flex-direction: column;
}

.review-form h2 {
  color: white;
  font-size:2rem; 
  text-shadow: 4px 1px 2px black;
  text-align: center;
}

.review-form label {
  font-weight: bolder;
  font-size:1.5rem;
  margin-bottom: 5px;   
  text-shadow: 1px 1px 1px rgb(233, 143, 82);
  color:black; 
}

.review-form select,
.review-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  background-color: #fff;
}

.review-form textarea {
  resize: vertical;
  min-height: 100px;
}

.review-form button {
  padding: 10px;
  background-color: #c5840c; 
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  

}

.review-form button:hover {
  background-color: #c9984f;
}




.review-chats {
  /* border:2px solid red; */
  margin-top: 2rem;
  padding: 1rem;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color:transparent;
  font-size: 1.2rem;
}

.review-chats h2 {
  margin-bottom: 1rem;
  color:white;
  text-shadow: 4px 1px 2px black;

}

.review-chats p {
  margin: 0.5rem 0;
}

.reviewchats{
  border:2px solid red;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  margin-top: 2rem;
  padding:2rem 4rem;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color:transparent;
  font-size: 1.2rem;
  height:35rem;
}

